---
import { Image } from "astro:assets";
import Wrapper from "../../shared/Wrapper.astro";
import "./steps.scss";
import Button from "../../shared/Button.astro";

const { title, subTitle, backgroundImage, stepsImage, buttonText, buttonLink } =
  Astro.props.data;

const bgImageSrc = backgroundImage?.node?.sourceUrl;
const bgAlt = backgroundImage?.node?.altText || "";
const stepsImageSrc = stepsImage?.node?.sourceUrl;
const stepsAlt = stepsImage?.node?.altText || "";
---

<div class="steps">
  <Wrapper classes="steps-wrapper">
    <div class="steps-title">
      <h2>{title}</h2>
      <p>{subTitle}</p>
    </div>
    <div class="steps-image">
      <div class="steps-image-inner">
        <Image
          src={stepsImageSrc}
          alt={stepsAlt}
          format="webp"
          widths={[800, 1200, 1600, 2000]}
          sizes="100vw"
          loading="eager"
          inferSize={true}
          class=""
        />
      </div>
    </div>
    <div class="steps-button">
      <Button ele="a" href={buttonLink.edges[0].node.uri}>{buttonText}</Button>
    </div>
  </Wrapper>
  <div class="steps-background">
    <Image
      src={bgImageSrc}
      alt={bgAlt}
      format="webp"
      widths={[800, 1200, 1600, 2000]}
      sizes="100vw"
      loading="eager"
      inferSize={true}
      class=""
    />
  </div>
</div>
